/* 设置滚动条的样式 */
.book .book-summary nav::-webkit-scrollbar,
.right.page-toc ul::-webkit-scrollbar {
    width: 4px;
}

/* 滚动槽 */
.book .book-summary nav::-webkit-scrollbar-track,
.right.page-toc ul::-webkit-scrollbar {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
.book .book-summary nav::-webkit-scrollbar-thumb,
.right.page-toc ul::-webkit-scrollbar {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

::selection {
    color: #fff;
    background-color: #000;
}

.book a {
    outline: none;
}

.book .book-summary {
    overflow: hidden;
    border: none;
    background: #F5F7F9;
}

.book .book-summary .book-summary-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    height: 60px;
    background: #FFF;
    box-shadow: 0 1px 4px #eae8e8;
    margin-bottom: 1px;

}

.book .book-summary .avatar {
    height: 50px;
}

.book .site-name {
    font-size: 18px;
    color: #1abc9c;
    margin-left: 10px;
}

.book .book-summary nav {
    padding: 20px 0 80px;
    height: 100%;
    overflow-y: auto;
}

.book .book-summary .exc-trigger {
    right: 20px;
    left: auto;
    font-size: 20px;
    color: #888
}

.book-summary ul.summary li {
    border-left: 1px solid #e6ecf1;
}

.book-summary ul.summary li a:hover {
    color: #1abc9c
}

.book-summary ul.summary li.active>a {
    background: #FFF;
    border: 1px solid #e6ecf1;
    border-right: none;
    border-left: none;
    color: #1abc9c
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
    padding-left: 18px;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active a:hover {
    background: #E6ECF1;
    color: #1abc9c
}


.book .book-summary ul.summary li span {
    color: #959798;
    margin-top: 10px;
}

.book .book-summary ul.summary .articles li.chapter a {
    color: #686b6d
}

.book .book-summary ul.summary .articles li.chapter.active a {
    color: #1abc9c
}

#book-search-input {
    display: none;
}

.book-header {
    box-shadow: 0 1px 4px #eae8e8;

}

.book-heade .book-name {
    font-size: 20px;
    color: #333;
}

.book-header .fa-list-ul {
    font-size: 18px;
}

.book-header .btn {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}

.book .page-wrapper {
    margin-top: 80px;
}

.book .book-body {
    border-left: 1px solid #efeff0;
    padding-bottom: 0
}

.book-body .markdown-section .article-header a {
    text-decoration: none
}

.book-body .markdown-section .fa-link {
    font-size: .7em;
    margin-left: 10px;
    display: none;
}


.book-summary ul.summary li a:hover {
    color: #008cff;
    text-decoration: none
}

.book .book-body .body-inner,
.navigation {
    z-index: 30;
}

.book-header {
    background: #FFF;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #333;
}

.book-body {
    background: rgba(245, 247, 249, 0.62);
}

.book-body .page-inner {
    display: flex;
    max-width: 1000px;

}

.book-body .page-inner #book-search-results {
    padding: 20px;
    background: #fff;
    flex: 1;
    width: calc(100% - 200px);
}

.navigation {
    top: auto;
    bottom: 200px;
}

.navigation i.fa {
    color: #0f88eb
}

.navigation i.fa:hover {
    color: #000;
}

.right.page-toc {
    margin-left: 20px;
    flex-shrink: 0;
    width: 240px;
    box-sizing: border-box;
    display: none
}

.right.page-toc ul {
    width: 240px;
    padding: 0;
    list-style: none;
    position: fixed;
    max-height: 500px;
    overflow-y: auto;

}

.right.page-toc li {
    border-left: 1px solid #E6ECF1;
    font-size: 12px;
    padding: 5px 30px 5px 15px;
    line-height: 1.5;
}

.right.page-toc li.active {
    border-left: 2px solid #1abc9c;
}

.right.page-toc li a {
    color: #74818D;
}

.right.page-toc li.active a {
    color: #1abc9c
}

.right.page-toc li.h3 a {
    padding-left: 20px;
}

.book .back-to-top {
    z-index: 99;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    right: 50px;

}

.back-to-top i {
    left: 11px;
    top: 11px;
    font-size: 18px;
}

.markdown-section {
    background: #FFF;
    padding: 30px 20px;
}


.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    display: block;
    padding: 15px 1em 15px 2em;
}

.markdown-section table th {
    font-weight: bold;
}

.markdown-section table th,
.markdown-section table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}

.markdown-section table tr th:first-child,
.markdown-section table tr td:first-child {
    white-space: nowrap;
}

.markdown-section table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.markdown-section table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown-section fieldset,
.markdown-section img {
    border: 0;
    margin-left: 5px;
    max-width: 500px;
}

.markdown-section blockquote {
    position: relative;
    color: #666;
    padding: 10px;
    border-left: 3px solid #cbcbcb;
    background-color: #fcfcfc;

}

.markdown-section blockquote p,
.markdown-section blockquote p,
.markdown-section blockquote p {
    padding: 0;
    margin: 0;
}

.markdown-section acronym,
.markdown-section abbr {
    border-bottom: 1px dotted;
    font-variant: normal;
}

.markdown-section abbr {
    cursor: help;
}

.markdown-section del {
    text-decoration: line-through;
}

.markdown-section address,
.markdown-section caption,
.markdown-section cite,
.markdown-section code,
.markdown-section dfn,
.markdown-section em,
.markdown-section th,
.markdown-section var {
    font-style: normal;
    font-size: 13px;
}

.markdown-section ul,
.markdown-section ol {
    margin-left: 2.5em;
    padding: 0;
}

.markdown-section li {
    padding: 5px 0;
}

.markdown-section caption,
.markdown-section th {
    text-align: left;
}

.markdown-section q:before,
.markdown-section q:after {
    content: "";
}

.markdown-section sub,
.markdown-section sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

.markdown-section :root sub,
.markdown-section :root sup {
    vertical-align: baseline;
    /* for ie9 and other modern browsers */
}

.markdown-section sup {
    top: -0.5em;
}

.markdown-section sub {
    bottom: -0.25em;
}

.markdown-section a {
    color: #1abc9c;
}

.markdown-section a:hover {
    text-decoration: underline;
}

.markdown-section .typo a {
    border-bottom: 1px solid #1abc9c;
}

.markdown-section .typo a:hover {
    border-bottom-color: #555;
    color: #555;
    text-decoration: none;
}

.markdown-section ins,
.markdown-section a {
    text-decoration: none;
}

.markdown-section u,
.markdown-section .typo-u {
    text-decoration: underline;
}

.markdown-section mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px;
}

.markdown-section pre,
.markdown-section code,
.markdown-section pre tt {
    font-family: Courier, "Courier New", monospace;
}

.markdown-section code {
    background-color: #f8f8f8;
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px;
}

.markdown-section pre {
    background: #f6f8fa;
    padding: 0;
    display: block;
    -webkit-overflow-scrolling: touch;
}

.markdown-section hr {
    margin: 40px 1em 20px;
    padding: 0;
    height: 2px;
    border: none;
    background-color: #e2e0e0;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 2px, transparent 2px, transparent 8px);
}

.markdown-section small,
.markdown-section .typo-small,
.markdown-section figcaption {
    font-size: 0.9em;
    color: #888;
}

.markdown-section strong,
.markdown-section b {
    font-weight: bold;
    color: #555;
}

.markdown-section [draggable] {
    cursor: move;
}

.markdown-section .clearfix:before,
.markdown-section .clearfix:after {
    content: "";
    display: table;
}

.markdown-section .clearfix:after {
    clear: both;
}

.markdown-section .clearfix {
    zoom: 1;
}

.markdown-section .textwrap,
.markdown-section .textwrap td,
.markdown-section .textwrap th {
    word-wrap: break-word;
    word-break: break-all;
}

.markdown-section .textwrap-table {
    table-layout: fixed;
}

.markdown-section .serif {
    font-family: Palatino, Optima, Georgia, serif;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    font-family: Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #222;
    line-height: 1.5;
}

.markdown-section h1 {
    font-size: 2.2em;
}

.markdown-section h2 {
    border-bottom: 1px solid #eaecef;
    margin: 0.6em 0;
    font-size: 1.6em;
}

.markdown-section h3 {
    font-size: 1.4em;
}

.markdown-section h4 {
    font-size: 1.2em;
}


/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}


/* 文章内代码行号高亮 */
.hljs>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #333;
    border: 1px solid #eff1f3;
}

.hljs li {
    padding-left: 2px;
    position: relative;
    display: flex;
}

.hljs li:hover {
    background-color: #f3f3f3 !important;
}

.hljs .hljs-ln-line {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.hljs li.mark {
    background-color: #fffbdd !important;
}



.hljs .hljs-ln-numbers {
    display: inline-block;
    width: 40px;
    padding-left: 10px;
    flex-shrink: 0
}

.hljs li:nth-of-type(even) {
    background-color: #fcfcfc;
    color: inherit;
}

.copy-code-btn {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    color: hsla(0, 0%, 55%, .8);
    transition: color .1s;
}

@media screen and (min-width:750px) {
    .right.page-toc {
        display: block
    }
}